include mixins/_navbar

html
    head
        title=title
    body
        +navigation()
        ul
            each item in feed
                li
                    div
                        h3 #{item.title} : #{item.feed_title}
                        a(href=item.link) #{item.link}